<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css"/>
    <title>Document</title>
</head>
<body>
    <h1>Naturals</h1>


    <select>
        <option value=-1>Choose Category</option>
        <option value=0>Others</option>
        <option value=1>Students</option>
    </select>
     

    <form>
        <div class="service-form">
            <input type="text" id="rollNo" name="rollNo" placeholder="roll No" required/>
            <input type="text" id="service" name="service" placeholder="Service" required/>
            <input type="number" id="amount" name="amount" placeholder="amount" required/>
            <input type="submit"/>
        </div>
    </form>

    <script type="text/javascript" src="main.js"></script>
</body>
</html>